@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-display: 'Nunito', sans-serif;

    --animate-wiggle: wiggle 1s ease-in-out infinite;
    --animate-float: float 3s ease-in-out infinite;
    --animate-shadow-breathe: shadow-breathe 3s ease-in-out infinite;

    @keyframes wiggle {

        0%,
        100% {
            transform: rotate(-3deg);
        }

        50% {
            transform: rotate(3deg);
        }
    }

    @keyframes float {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
    }

    @keyframes shadow-breathe {

        0%,
        100% {
            transform: scale(1);
            opacity: 0.4;
        }

        50% {
            transform: scale(0.7);
            opacity: 0.2;
        }
    }
}